body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-image: url(capa.jpg);
  background-size: cover;
}

.container{
  font-size: 0px;
  height: 50vh;
}

.menu{
  font-size: initial;
}
