<html ng-app="aula2">

<head>
    <meta charset="UTF-8">
    <title>Aula 2 - Filtros</title>
    <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <script src="JS/aula2.js"></script>
</head>

<body>
    <div ng-controller="buscarPorData">
      <label for="dataRecebida">Data Digitada</label>
      <input type="text" ng-model="dataRecebida" placeholder="dd/mm/aaaa"/>
      <button ng-click="converter()">Submit</button>
      <span>{{ dataObjeto | date: 'mediumDate' }}</span>
      <span>{{ dataPronta }}</span>

    </div>
</body>

</html>
