<!DOCTYPE html>
<html ng-app="modulo">
  <head>
    <meta charset="utf-8">
    <script  src="https://code.angularjs.org/1.6.4/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="js/crud.js"></script>
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div ng-controller='aulas'>
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-2"> </div>
          <div class="col-md-8">
          <h1 class="bg-info"> CRUD AULAS </h1>
        </div>
        </div>
          <form class="form-inline" novalidate name="aulasForm" ng-submit="incluirAula()">
            <div class="row text-center"> <label>Incluir Aula</label>
            <input class="form-control" type="text" minlength="3" maxlength="20" name="nomeAula" ng-model="novaAula.nome" required>
            <button class="btn btn-info btn-sm" type="submit" class="btn-primary" name="incluirAula">Incluir</button></div>
            <span ng-show="meuForm.nome.$error.minlength">
              Deve ter no mínimo 3 letras
            </span>
            <span ng-show="meuForm.nome.$error.maxlength">
              Deve ter no máximo 20 letras
            </span>
          </form>

          <form class="form-inline" novalidate minlength="3" maxlength="20" name="formAlterarNomeAula" ng-submit="alterarAula()">
            <div class="row text-center"> <label>Alterar Aula</label>
            <label>ID:</label>
            <select class="form-control" ng-model="selecionarAula.id" id="selectAula">
              <option ng-repeat="aula in aulas" required >{{aula.id}}</option>
            </select>
            <label>Novo Nome:</label>
            <input class="form-control" type="text" name="nomeAulaAlterar" ng-model="alterarAula.nome" required required ng-minlength="3" ng-maxlength='20' >
            <button class="btn btn-info btn-sm" type="submit" class="btn-primary"name="alterarAula">Alterar</button> </div>
            <span ng-show="meuForm.nome.$error.minlength">
              Deve ter no mínimo 3 letras
            </span>
            <span ng-show="meuForm.nome.$error.maxlength">
              Deve ter no máximo 20 letras
            </span>
          </form>

          <form novalidate name="deletarAulaForm" class="form-inline" ng-submit="deletarAula(idAula)">
            <div class="row text-center">
              <label for="idAula"> ID: </label>
              <input type="number" name="idAula" class="form-control" ng-model="idAula" required/>
          <button class="btn btn-info btn-sm"> Excluir Aula </button>
        </div>


    </form>

    <div class="row text-center">
      <div class="col-md-3"> </div>
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-success" ng-repeat="aula in aulas | ordenarPorAula">
            ID: {{aula.id }} - Nome Aula: {{aula.nome}}
          </li>
        </ul>
      </div>
    </div>
        <hr>

          <div class="row text-center">
          <div class="col-md-2"></div>
          <div class="col-md-8">
          <h1 class="bg-info"> CRUD INSTRUTOR </h1> </div> </div>
          <form class="form-inline" novalidate name="novoInstrutorForm" ng-submit="incluirInstrutor()">
            <div class="row text-center"><h3>Incluir Instrutor</h3></div>
            <div class="row text-center"><label>Nome</label>
            <input type="text" class="form-control" minlength="3" maxlength="20" name="nomeInstrutor" ng-model="novoInstrutor.nome" required ng-minlength="3" ng-maxlength="20" >
            <label>Sobrenome</label>
            <input type="text" class="form-control"name="sobrenomeInstrutor" maxlength="30" ng-model="novoInstrutor.sobrenome" ng-maxlength="30">
            <label>Idade</label>
            <input type="number" class="form-control" max=90 name="idadeInstrutor" ng-model="novoInstrutor.idade" required>
            <label>Email</label>
            <input type="email" class="form-control"name="emailInstrutor" ng-model="novoInstrutor.email" required> </div>
            <div class="row text-center"><label>Leciona algum módulo? </label>
              <input class="checkbox"type="checkbox" class="form-control"name="LecionandoInstrutor" ng-model="novoInstrutor.Lecionando">
            <label id="foto">URL Foto</label>
            <input type="text" class="form-control" name="urlFotoInstrutor" ng-model="novoInstrutor.urlFoto">
            </div>
            <div class="row text-center"><select multiple name="aulasInstrutor" ng-model="novoInstrutor.aula">
              <option ng-repeat="a in aulas">{{a.nome}}</option>
            </select></div>
            <div class="row text-center"></div>
            <div class="row text-center"><button class="btn btn-info btn-sm" type="submit"class="btn-primary">Incluir Instrutor</button></div>
            <span ng-show="meuForm.nome.$error.minlength">
              Deve ter no mínimo 3 letras
            </span>
            <span ng-show="meuForm.nome.$error.maxlength">
              Deve ter no máximo 30 letras
            </span>
        </form>

        <hr>
          <div class="row text-center">
          <h2 > Modificar instrutor </h2> </div>
          <form novalidate name="formAlteraInstrutor" class="form-inline"ng-submit="alterarInstrutor()">
            <div class="row text-center"> <h3> Selecione o instrutor </h3> <select class="form-control" ng-model="selectAltera">
              <option ng-repeat="i in instrutores">{{i.nome}}</option>
            </select> </div>
            <div class="row text-center"> <label>Nome</label>
            <input type="text" name="alteraNomeInstrutor" class="form-control"ng-model="alteraNovoInstrutor.nome"  ng-minlength="3" ng-maxlength="20" >
            <label>Sobrenome</label>
            <input type="text" class="form-control" name="alteraSobrenomeInstrutor" ng-model="alteraNovoInstrutor.sobrenome" ng-maxlength="30"> </div>
            <div class="row text-center"> <label>Idade</label>
            <input type="number" class="form-control" max=90 name="alteraIdadeInstrutor" ng-model="alteraNovoInstrutor.idade" >
            <label>Email</label>
            <input type="email" class="form-control" name="alteraEmailInstrutor" ng-model="alteraNovoInstrutor.email"> </div>
            <div class="row text-center"><label>Está lecionando?</label>
            <input type="checkbox" class="form-control" name="estaLecionando" ng-model="alteraNovoInstrutor.Lecionando"></div>
            <div class="row text-center"><select  class="form-control" multiple name="alteraAulasInstrutor" ng-model="alteraNovoInstrutor.aula">
              <option ng-repeat="a in aulas">{{a.nome}}</option>
            </select></div>
            <div class="row text-center"><label>URL Foto</label>
            <input type="text" class="form-control" name="alteraUrlFotoInstrutor" ng-model="alteraNovoInstrutor.urlFoto"></div>
            <div class="row text-center"><button type="submit" class="btn btn-info btn-sm"class="btn-primary">Alterar Instrutor</button></div>
          </form>

          <hr>

          <form novalidate name="deletarInstrutorForm" class="form-inline" ng-submit="deletarInstrutor()">
            <div class="row text-center">
            <h2> Deletar instrutor </h2></div>
            <div class="row text-center"> <h3> Selecione o instrutor </h3><select class="form-control"ng-model="instrutorDeletar">
              <option ng-repeat="instrutor in instrutores">{{instrutor.nome}}</option>
            </select></div>
            <div class="row text-center"><button type="submit"class="btn btn-info btn-sm"class="btn-primary">Deletar Instrutor</button></div>
          </form>
          <div class="col-md-3"> </div>
          <div class="row text-center col-md-6">
              <ul class="list-group">
                <li class="list-group-item list-group-item-success" ng-repeat="instrutor in instrutores | ordenarPorInstrutor">
                <div class="row text-center">ID:{{instrutor.id}} -
                Nome: {{instrutor.nome}} -
                Sobrenome:{{instrutor.sobrenome}} -
                Idade: {{instrutor.idade}} -
                email: {{instrutor.email}} -
                Lecionando: : {{instrutor.jaDeuAula}}  </div>
                <div class="row text-center">
                  <div class="col-md-3"></div>
                  <div class="col-md-6">
                    <spam ng-repeat="aula in instrutor.aula">Ministra a aula de {{aula.nome}}.
                </spam></div>
        </div>
        urlFoto: {{instrutor.urlFoto}}
        </div>
      </li>
    </ul>
    </div>
  </body>
</html>
