*{box-sizing: border-box;}
body{
  margin: 0;
  padding: 0;
}
.container{
  font-size: 0px;
  height: 100vh;
}

.linha {
  display: inline-block;
  height: 25%;
  width: 100%;
}

.coluna {
  display: inline-block;
  font-size: initial;
  border: solid 2px;
  height: 100%;
}

.coluna1 {
  width: 25%;
  background-color: red;
}

.coluna2 {
  width: 50%;
  background-color: blue;
}

.coluna3 {
  width: 100%;
  background-color: purple;
}

.coluna4 {
  width: 10%;
  background-color: yellow;
}
