*{box-sizing: border-box;}
body{
  margin: 0;
  padding: 0;
}

.container{
  height: 100vh;
}

.titulo {
  font-size: 50px;
  font-weight: bold;
  color: black;
  padding-left: 30%;
  padding-top: 10%;
  padding-bottom: 5%;
  background-image: url(capa.jpg);
  background-size:100%;
  background-size: contain;
  opacity: 0.7;
}

div #resultado {
  padding-top: 3%;
  padding-left: 45%;
}

#pokemonASerBuscado{
  padding-top: 3%;
  padding-left: 40%;
}
