<div class="pedido">
<h1 class="text-center cor"> BEM VINDO A ÁREA DE COMPRAS </h1>
<div class="row" id="lista">
  <div class="col-md-1" >
  </div>
  <div class="col-md-5">
    <ul class="list-group" class="text-center">
      <li class="list-group-item list-group-item-danger alinhar" id="margem" ng-repeat="combo in combos.dados">Tipo do imóvel: {{combo.Tipo}} || Pacote: {{combo.Pacote}} {{itensPedido}}<input type="button" class="btn btn-primary" name="editar" value="ESCOLHER" ng-click ="adicionarNovoItemNoPedido(combo)"></li>
    </ul>
  </div>
  <div class="col-md-1" >
  </div>
  <div class="col-md-4">
    <ul class="list-group" class="text-center">
      <li class="list-group-item list-group-item-warning alinhar" id="margem" ng-repeat="produto in adicionais.dados">Adicional: {{produto.Pacote}}<button type="submit" class="btn btn-primary" ng-click="clienteAtual">ADICIONAR</button></li>
    </ul>
  </div>
</div>
<button type="button" name="button" class="btn btn-primary" ng-click="novoPedido()">Fechar Pedido</button>
</div>
