<h1 class="text-center cor"> BEM VINDO A ÁREA DE COMPRAS </h1>
<ul class="list-group" class="text-center">
  <li class="list-group-item list-group-item-success alinhar" id="margem" ng-repeat="produto in combos.dados">Nome: {{produto.Pacote}} || CPF: {{produto.Tipo}}   <button type="submit" class="btn btn-primary" ng-click="clienteAtual">ADICIONAR</button></li>
</ul>

<ul class="list-group" class="text-center">
  <li class="list-group-item list-group-item-success alinhar" id="margem" ng-repeat="produto in adicionais.dados">Nome: {{produto.Pacote}} || CPF: {{produto.Tipo}}   <button type="submit" class="btn btn-primary" ng-click="clienteAtual">ADICIONAR</button></li>
</ul>
