<div class="relatorio margem">
<h1 class="text-center cor"> CONTROLE E PEDIDOS </h1>
<div class="row">
<div class="col-md-1" >
</div>
<div class="col-md-4" >
  <h2 class="text-center cor">Aguardando Devolução</h2>
</div>
<div class="col-md-1" >
</div>
<div class="col-md-4" >
  <h2 class="text-center cor">Relatório Mensal</h2>
</div>
</div>
<div class="row">
  <div class="col-md-1" >
  </div>
  <div class="col-md-4">
  <table class= "table table-striped orange danger text-center table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Valor Total</th>
                <th class="text-center">Data Vencimento</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="alugado in alugados.dados">
            <td>{{alugado.Id}}</td>
            <td>{{alugado.ValorTotal}}</td>
            <td>{{alugado.DataVencimento}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="col-md-1" >
  </div>
  <div class="col-md-4">
  <table class= "table table-striped orange danger text-center table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Valor Total</th>
                <th class="text-center">Data Devolução</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pedido in RelatorioMensal.dados">
            <td>{{pedido.Id}}</td>
            <td>{{pedido.ValorTotal}}</td>
            <td>{{pedido.DataEntrega}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
<h2 class="text-center orange"> Pedidos Atrasados </h2>
<div class="row">
  <div class="col-md-4" >
  </div>
  <div class="col-md-4">
  <table class= "table table-striped orange danger text-center table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Valor Total</th>
            </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pedido in RelatorioAtrasados.dados">
            <td>{{pedido.Id}}</td>
            <td>{{pedido.ValorTotal}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
</div>
