body{
  background-image: url(capa.jpg);
  background-size:100%;
  background-repeat:cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.85;
}

ul {
  margin-top: 20px;
}

#lista {
  padding-top: 25px;
}

.formulario{
  color: white;
}

.alinhar {
  text-align: right;
}

.cor {
  color: white;
}

.margem{
  padding: 10px;
  color: white;
}

.azul {
  color: blue;
}

.laranja {
  color: orange;
}

.vermelho {
  color: red;
}
