body{
  background-image: url(capa.jpg);
  background-size:100%;
  background-repeat:cover;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  opacity: 0.85;
}

ul {
  margin-top: 20px;
}

#lista {
  padding-top: 25px;
}

.formulario{
  color: white;
}

.alinhar {
  text-align: right;
}

.cor {
  color: white;
}

.margem{
  padding: 25px;
  color: white;
  font-weight: bold;
}

.azul {
  color: blue;
}

.laranja {
  color: orange;
}

.vermelho {
  color: red;
}

.relatorio{
  background-image: url(fundo.jpg);
  background-size:100%;
  background-repeat:cover;
  background-repeat: no-repeat;
  color: orange;
  font-weight: bold;
}

.pedido{
  background-image: url(pedido.jpg);
  background-size:100%;
  color: white;
  font-weight: bold;
}

.cadastro{
  background-image: url(cadastro.jpg);
  height: 500px;
  background-size:100%;
  background-repeat:cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
}

.cliente{
  background-image: url(cliente.jpg);
  background-size:100%;
  background-repeat:cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
}
