<div class="row text-center">
  <div class="col-md-2"> </div>
  <div class="col-md-8">
  <h1 class="bg-info"> CRUD AULAS </h1>
</div>
</div>
  <form class="form-inline" novalidate name="aulasForm" ng-submit="incluirAula()">
    <div class="row text-center"> <label>Incluir Aula</label>
    <input class="form-control" type="text" minlength="3" maxlength="20" name="nomeAula" ng-model="novaAula.nome" required>
    <button class="btn btn-info btn-sm" type="submit" class="btn-primary" name="incluirAula">Incluir</button></div>
    <span ng-show="meuForm.nome.$error.minlength">
      Deve ter no mínimo 3 letras
    </span>
    <span ng-show="meuForm.nome.$error.maxlength">
      Deve ter no máximo 20 letras
    </span>
  </form>

  <form class="form-inline" novalidate minlength="3" maxlength="20" name="formAlterarNomeAula" ng-submit="alterarAula()">
    <div class="row text-center"> <label>Alterar Aula</label>
    <label>ID:</label>
    <select class="form-control" ng-model="selecionarAula.id" id="selectAula">
      <option ng-repeat="aula in aulas" required >{{aula.id}}</option>
    </select>
    <label>Novo Nome:</label>
    <input class="form-control" type="text" name="nomeAulaAlterar" ng-model="alterarAula.nome" required required ng-minlength="3" ng-maxlength='20' >
    <button class="btn btn-info btn-sm" type="submit" class="btn-primary"name="alterarAula">Alterar</button> </div>
    <span ng-show="meuForm.nome.$error.minlength">
      Deve ter no mínimo 3 letras
    </span>
    <span ng-show="meuForm.nome.$error.maxlength">
      Deve ter no máximo 20 letras
    </span>
  </form>

  <form novalidate name="deletarAulaForm" class="form-inline" ng-submit="deletarAula(idAula)">
    <div class="row text-center">
      <label for="idAula"> ID: </label>
      <input type="number" name="idAula" class="form-control" ng-model="idAula" required/>
  <button class="btn btn-info btn-sm"> Excluir Aula </button>
</div>


</form>

<div class="row text-center">
<div class="col-md-3"> </div>
<div class="col-md-6">
<ul class="list-group">
  <li class="list-group-item list-group-item-success" ng-repeat="aula in aulas | ordenarPorAula">
    ID: {{aula.id }} - Nome Aula: {{aula.nome}}
  </li>
</ul>
</div>
</div>
