<div class="row text-center  navbar">
  <div class="col-md-4"></div>
  <div class="col-md-1">
    <img src="logo.png" width="70" height="70">
  </div>
  <div class="col-md-4 titulo"> Musician To Musician</div>
</div>
<div class="paginaLogin">
  <div class="form">
    <form novalidate name="formCadastro" class="loginForm">
      <input type="text" required placeholder="Nome" ng-model="usuario.nome">
      <input type="text" required placeholder="Email" ng-model="usuario.email">
      <input type="text" placeholder="URL Foto" ng-model="usuario.urlFoto">
      <input type="text" placeholder="Sexo" ng-model="usuario.sexo">
      <input type="date" required ng-model="usuario.dataNascimento">
      <input type="password" required placeholder="Password" ng-model="usuario.senha">
      <input type="text" placeholder="Instrumento musical" ng-model="usuario.instrumento">
      <button type="submit" class="btn btn-primary btn-md" ng-click="novoUsuario(usuario)">Cadastrar</button>
      <p class="mensagem">Já registrado? <a ng-href="#!/login">Faça login!</a></p>
    </form>
  </div>
</div>
