@import url(https://fonts.googleapis.com/css?family=Bellefair);

.imagemFeed {
  height: 70px;
  width: 70px;
}

.dataPublicacao {
  text-align: right;
  padding: 5px;
}

.coluna-links{
  padding: 7px;
  font-size: 30px;
  font-family: 'Bellefair', serif;
  text-align: right;
}

.postagem {
  background: #FFFFFF;
  max-width: 700px;
  margin: 15px;
  padding: 20px;
  text-align: center;
}

.bordaPostagem {
  background-color: #6A5ACD;
  padding: 20px;
  border-radius: 5px;
}

.postagem input {
  font-family: 'Bellefair', serif;
  outline: 0;
  background: #f4f2f4;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 16px;
}

.postagem button {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  background: #A52A2A;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #A52A2A;
}

.margin-feed{
  margin-left: 4.16%;
  margin-right:4.16%;
}

.colunas-feed{
  background-color: white;
  border-radius: 6px;
  font-family: 'Bellefair', serif;
}

.fonteBranca{
  color: white !important;
}

.disabled {
  background: #6A5ACD !important;
}

.fundo {
    background-color: #F0E68C !important;
}
