<div class="row text-center  navbar">
  <div class="col-md-4"></div>
  <div class="col-md-1">
    <img src="logo.png" width="70" height="70">
  </div>
  <div class="col-md-4 titulo"> Musician To Musician</div>
</div>
<div class="row">
  <div class="col-md-2 colunas-feed coluna-links">
      <div class="row coluna-links links"><a ng-href="#!/feed">Dashboard  <span class="glyphicon glyphicon-home"></span></a></div><hr>
      <div class="row coluna-links links"><a ng-href="#!/perfil">Perfil  <span class="glyphicon glyphicon-user"></a></div><hr>
      <div class="row coluna-links links"><a ng-href="#!/amigos">Amigos <span class="glyphicon glyphicon-music"></span></a></div><hr>
      <div class="row coluna-links links"><a ng-href="#!/pesquisar">Pesquisar <span class="glyphicon glyphicon-search"></span></a></div><hr>
      <div class="row coluna-links links"><a ng-href="#!/logout">Logout <span class="glyphicon glyphicon-asterisk"></span></a></div>
  </div>
  <div class="col-md-6 colunas-feed margin-feed fundo">
    <div class"row fundo">
    <div class="postagem fundo">
      <div class="bordaPostagem">
        <form novalidate name="formPost">
          <input type="text" placeholder="O que está tocando você hoje?" ng-model="post.conteudo">
          <input type="text" placeholder="Coloque aqui uma URL que represente o post" ng-model="post.imagem">
          <button type="submit" class="btn btn-primary btn-block btn-md" ng-click="novoPost(post)">Publicar</button>
        </form>
      </div>
    </div>
    </div>
    <ul class="list-group" ng-repeat="post in posts">
      <div class"row">
        <li class="list-group-item disabled fonteBranca">{{post.idUsuario.nome}}</li>
        <div class="list-group-item">
          <li>
            <div class="col-md-2"><img class="imagemFeed" ng-src="{{post.imagem}}"></div>
            <div class="col-md-10">{{post.conteudo}}</div>
          </li>
          <li><div class="dataPublicacao">Publicado em: {{post.dataPublicacao}}</div></li>
        </div>
          <form novalidate name="formSolicitacao" class="larguraCurtir ">
            <button type="submit" class="btn fundoCurtir" ng-click="curtir(post)"><li class="larguraCurtir">{{post.curtir.length}} curtidas
             </button>
          </form>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-md-3 colunas-feed">
    <div class"row pesquisar text-center"><h2>Solicitações de Amizade</h2></div><hr>
    <div class"row">
      <table class= "table table-striped danger orange text-center table-bordered">
            <thead>
                <tr>
                    <th class="pesquisar">Foto</th>
                    <th class="pesquisar">Nome</th>
                    <th class="pesquisar">Email</th>
                    <th class="pesquisar">Aceitar</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="usuario in solicitacoes | filter:{nome: procurarPorNome}">
                <td class="pesquisar"><img class="imagemFeed" ng-src="{{usuario.urlFoto}}"></td>
                <td class="pesquisar">{{usuario.nome}}</td>
                <td class="pesquisar">{{usuario.email}}</td>
                <td>
                  <form novalidate name="formAceitarAmizade">
                    <button type="submit" class="btn btn-primary btn-block btn-md" ng-click="aceitarAmizade(usuario.id)">Aceitar</button>
                  </form>
                  <form novalidate name="formRejeitarAmizade">
                    <button type="submit" class="btn btn-primary btn-block btn-md" ng-click="rejeitarAmizade(usuario.id)">Rejeitar</button>
                  </form>
                </td>
              </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
