<div class="row text-center  navbar">
  <div class="col-md-4"></div>
  <div class="col-md-1">
    <img src="logo.png" width="70" height="70">
  </div>
  <div class="col-md-4 titulo"> Musician To Musician</div>
</div>
<div class="paginaLogin">
  <div class="form">
    <form novalidate name="formLogin" class="loginForm">
      <input type="text" placeholder="Email" ng-model="usuario.email">
      <input type="password" placeholder="Password" ng-model="usuario.senha">
      <button type="submit" class="btn btn-primary btn-md" ng-click="login(usuario)">Login</button>
      <p class="mensagem">Ainda não registrado? <a ng-href="#!/cadastro">Crie uma conta!</a></p>
    </form>
  </div>
</div>
