<div class="row text-center  navbar">
  <div class="col-md-4"></div>
  <div class="col-md-1">
    <img src="logo.png" width="70" height="70">
  </div>
  <div class="col-md-4 titulo"> Musician To Musician</div>
</div>
<div class="row text-center">
  <div class="col-md-2 colunas-feed coluna-links">
      <div class="row coluna-links"><a ng-href="#!/feed">Dashboard  <span class="glyphicon glyphicon-home"></span></a></div><hr>
      <div class"row coluna-links"><a ng-href="#!/perfil">Perfil  <span class="glyphicon glyphicon-user"></a></div><hr>
      <div class="row coluna-links"><a ng-href="#!/amigos">Amigos <span class="glyphicon glyphicon-music"></span></a></div><hr>
      <div class="row coluna-links"><a ng-href="#!/pesquisar">Pesquisar <span class="glyphicon glyphicon-search"></span></a></div><hr>
      <div class"row coluna-links"><a ng-href="#!/logout">Logout <span class="glyphicon glyphicon-asterisk"></span></a></div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-8 colunas-feed padding">
    <div class="row fundo">
      <h1>Informações Amigo</h1>
    </div><hr>
    <div class="row">
      <h1>{{perfil.nome}}</h1>
    </div>
    <div class="row">
      <h1>{{perfil.email}}</h1>
    </div>
    <div class="row">
      <form novalidate name="formSolicitacao">
        <button type="submit" class="btn btn-primary btn-block btn-md" ng-click="solicitarAmizade()">Solicitar Amizade</button>
      </form>
    <div>
    <div class="row">
      <ul class="list-group" ng-repeat="post in postsAmigo">
        <div class"row">
          <li class="list-group-item disabled fonteBranca">{{post.idUsuario.nome}}</li>
          <div class="list-group-item">
            <li>{{post.conteudo}}</li>
            <li><img class="imagemFeed" ng-src="{{post.imagem}}"></li>
          </div>
          <hr>
        </div>
      </ul>
    </div>
  </div>
</div>
