<!DOCTYPE HTML>
  <html  ng-app="diaUm">
    <head>
      <meta charset="utf-8">
      <title>Tema Dia 1</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="JS/main.js"></script>
      <link rel="stylesheet" href="filtro.css">
    </head>
    <body ng-controller="listaPokemon">
      <div class="container-fluid">
        <div class="row" class="navbar navbar-fixed-top center">
          <div class="navbar-inner" class="col-md-10"><h1 class="list-group-item active">{{topoDaPagina}}</h1></div>
        </div>
        <div class="row">
          <div class="col-md-2" >
          </div>
          <div class="col-md-4"><h2 class="list-group-item list-group-item-danger">Filtre por pokemon: <input type="text" ng-model="procurarPokemon"></h2></div>
          <div class="col-md-4"><h2 class="list-group-item list-group-item-danger">Filtre por tipo: <input type="text" ng-model="procurarTipo"></h2></div>
        </div>
        <div class="row" id="lista">
          <div class="col-md-3" >
          </div>
          <div class="col-md-6">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="pokemon in pokemons | filter:{nome: procurarPokemon, tipo: procurarTipo}">
                <h2>Nome: {{pokemon.nome}} - Tipo: {{pokemon.tipo}}</h2>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </body>
</html>
